<div class="top_container">
  <!-- Left -->
  <div class="col-l">
    <div class="col border">
      <h3 class="apptitle">{{ title }}</h3>
    </div>
    <div class="col-sm">
      <p>
        AI engine to analyze chat conversations, detecting user intent,
        answering queries automatically and handling off-target conversations
      </p>
    </div>
  </div>
  <!-- right -->
  <div class="col-l">
    <div class="col border">
      <button type="submit" class="select-btn">
        <i class="fa fa-qrcode"></i>&nbsp;&nbsp;&nbsp;+91 63505
        45458&nbsp;&nbsp;&nbsp;<i class="arrow myarrow"> </i>
      </button>
    </div>
    <div class="col">
      <ul>
        <li><i class="fa fa-bell-o" aria-hidden="true"></i></li>
        <li><i class="fa fa-power-off" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
</div>
