.analytics_option_container {
  padding: 1.7rem 3rem;
  width: 70%;
}
h3,
h4,
h5 {
  font-weight: 700;
}
p {
  width: 80%;
}
.analytics_option_container_inner {
  border: 1px solid rgb(203, 203, 203);
  margin: 1rem 0;
  padding: 1rem 0;
}
.search {
  margin: 0 1rem;
}
.search > .icon {
  background-color: white;
  border: 1px solid rgb(153, 153, 153);
  padding: 0.5rem 0.7rem;
  font-size: 0.8rem;
  color: rgb(120, 120, 120);
}
input {
  font-size: 0.8rem;
  color: rgb(120, 120, 120);
  margin-left: 0.5rem;
  border: none;
  background-color: white;
}
.labels {
  margin: 1rem 0;
  /* padding: 0 1rem; */
  padding-left: 2rem;
  border-top: 1px solid rgb(203, 203, 203);
  border-bottom: 1px solid rgb(203, 203, 203);
  display: flex;
  /* justify-content: space-around; */
  height: 50px;
  align-items: center;
  background-color: #c0f7f0;
}
.labels > h5 {
  width: 20%;
}
.results {
  padding: 0 2rem;
  padding-right: 0;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.row > h5 {
  width: 20%;
  /* text-align: center; */
}
.even {
  color: var(--color-baseclr);
}
.odd {
  color: red;
}
