.trainbot_options_container {
  /* background-color: white; */
  padding: 3rem;
  width: 60%;
}
h3,
h4 {
  font-weight: 700;
}
.labels {
  margin-top: 10px;
}
.label_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
}

span > p {
  display: inline-block;
  padding-right: 0.5rem;
}
.img {
  /* display: flex; */
  width: 100%;
  /* justify-content: center; */
  text-align: center;
  margin: 2rem;
}
.img > p {
  color: black;
}
.emptyimg {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
