<div class="trainbot_options_container">
  <h3>Add a new utterance</h3>
  <p>
    Create a intent and add multiple utterance to let Isntinct AI answers
    automatically
  </p>
  <button class="btn">+ Add intent</button>

  <div class="labels">
    <div class="label_header">
      <h4>Insights</h4>
      <span>
        <p>Sort by</p>
        <button class="select-btn">Priority</button>
      </span>
    </div>
    <div class="datas">
      <div class="img">
        <img src="../../../assets/empty.gif" alt="" class="emptyimg" />
        <p>Not enough data to show insights</p>
      </div>
    </div>
  </div>
</div>
