.trainbot_options_container {
  /* background-color: white; */
  padding: 1.7rem 3rem;
  width: 60%;
}
h3,
h4 {
  font-weight: 700;
}
.labels {
  margin-top: 10px;
  position: relative;
}
.label_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
}

span > p {
  display: inline-block;
  padding-right: 0.5rem;
}
span > div {
  display: inline-block;
}
.img {
  /* display: flex; */
  width: 100%;
  /* justify-content: center; */
  text-align: center;
  margin: 2rem;
}
.img > p {
  color: black;
}
.emptyimg {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.dropdown .dropbtn {
  font-size: 0.8rem;
  border: none;
  outline: none;
  /* color: white; */
  /* padding: 14px 16px; */
  padding: 0.2rem 0.8rem;
  /* background-color: rgb(229, 229, 229); */
  font-family: inherit;
  margin: 0;
  font-weight: normal;
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
}
.dropbtn > i {
  padding-left: 10px;
  border-left: 1px solid rgb(147, 147, 147);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 5%;
  right: -30%;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 0.9rem;
  /* font-weight: 600; */
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.active {
  background-color: rgb(230, 230, 230);
}

.dropdown-content a:hover {
  background-color: white;
  background-color: rgb(230, 230, 230);
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
