<div class="trainbot_options_container">
  <h3>Add a new utterance</h3>
  <p>
    Create a intent and add multiple utterance to let Isntinct AI answers
    automatically
  </p>
  <button class="btn" (click)="addintent()">+ Add intent</button>

  <div class="labels">
    <div class="label_header">
      <h4>Insights</h4>
      <span>
        <p>Sort by</p>
        <div class="dropdown">
          <button class="dropbtn">
            Priority &nbsp; <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" class="active">Priority</a>
            <a href="#">Unanswerd</a>
            <a href="#">Improve coverage</a>
            <a href="#">Underperforming</a>
          </div>
        </div>
      </span>
    </div>
    <div class="datas">
      <div class="img" *ngIf="intentpresent">
        <img src="../../../assets/empty.gif" alt="" class="emptyimg" />
        <p>Not enough data to show insights</p>
      </div>
      <div class="data" *ngIf="datadiv">
        <div class="columns" *ngFor="let intent of intentarraydata">
          <div class="details">
            <p class="tag">Unanswerd</p>
            <h3>{{ intent.title }}</h3>
            <p>{{ intent.msg }}</p>
          </div>
          <div class="actions">
            <button class="action-btn">Map to existing reply</button>
            <button class="action-btn">Add reply</button>
            <button class="action-btn no-border">
              <i class="far fa-clipboard"></i>
            </button>
          </div>
        </div>
        <!-- <div class="columns">
          <div class="details">
            <p class="tag">Unanswerd</p>
            <h3>What time you are open..</h3>
            <p>Asked 32 times last week</p>
          </div>
          <div class="actions">
            <button class="action-btn">Map to existing reply</button>
            <button class="action-btn">Add reply</button>
            <button class="action-btn no-border">
              <i class="far fa-clipboard"></i>
            </button>
          </div>
        </div>
        <div class="columns">
          <div class="details">
            <p class="tag">Unanswerd</p>
            <h3>Where are you folks located...</h3>
            <p>Asked 32 times last week</p>
          </div>
          <div class="actions">
            <button class="action-btn">Map to existing reply</button>
            <button class="action-btn">Add reply</button>
            <button class="action-btn no-border">
              <i class="far fa-clipboard"></i>
            </button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
