.trainbot_options_container {
  /* background-color: white; */
  padding: 1.7rem 3rem;
  width: 60%;
}
h3,
h4 {
  font-weight: 700;
}
.labels {
  margin-top: 10px;
  position: relative;
}
.label_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-top: 1px solid rgb(182, 182, 182);
  border-bottom: 1px solid rgb(182, 182, 182);
}

span > p {
  display: inline-block;
  padding-right: 0.5rem;
}
span > div {
  display: inline-block;
}
.img {
  /* display: flex; */
  width: 100%;
  /* justify-content: center; */
  text-align: center;
  margin: 2rem;
}
.img > p {
  color: black;
  font-size: 0.8rem;
  font-weight: 550;
}
.emptyimg {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.dropdown .dropbtn {
  font-size: 0.8rem;
  font-weight: 550;
  border: none;
  outline: none;
  /* color: white; */
  /* padding: 14px 16px; */
  padding: 0.2rem 0.8rem;
  /* background-color: rgb(229, 229, 229); */
  font-family: inherit;
  margin: 0;
  /* font-weight: normal; */
  background-color: white;
  border: 1px solid rgb(210, 210, 210);
}
.dropbtn > i {
  padding-left: 10px;
  border-left: 1px solid rgb(147, 147, 147);
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 5%;
  right: -30%;
  /* background-color: #f9f9f9; */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 0.9rem;
  /* font-weight: 600; */
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.active {
  background-color: rgb(230, 230, 230);
}

.dropdown-content a:hover {
  background-color: white;
  background-color: rgb(230, 230, 230);
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

/* Data Div */
.data {
  margin: 1rem 0;
}
.columns {
  border: 1px solid rgb(169, 169, 169);
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.columns:hover {
  box-shadow: none;
}
.tag {
  display: inline-block;
  border: 1px solid pink;
  border-radius: 5px;
  background-color: rgb(251, 214, 220, 0.9);
  color: #e32e3d;
  padding: 0 0.5rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: 700;
}
.orange {
  border: 1px solid pink;
  background-color: #ffe7cb;
  color: rgb(253, 41, 76);
}
.purple {
  background-color: #f7e4f8;
  color: #b52cc9;
}
.details > h4 {
  padding: 0.3rem 0;
}
.icon {
  font-size: 0.6rem;
}
.actions {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* text-align: right; */
  align-items: flex-end;
}
.action-btn {
  width: fit-content;
  border: 2px solid rgb(202, 202, 202);
  background-color: white;
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0.2rem;
  cursor: pointer;
}
.no-border {
  border: none;
}
