<div class="trainbot_options_container">
  <h3>Add a new utterance</h3>
  <p>
    Create a intent and add multiple utterance to let Isntinct AI answers
    automatically
  </p>
  <button class="btn">+ Add intent</button>

  <div class="labels">
    <div class="label_header">
      <h4>Insights</h4>
      <span>
        <p>Sort by</p>
        <div class="dropdown">
          <button class="dropbtn">
            Priority &nbsp; <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#" class="active">Priority</a>
            <a href="#">Unanswerd</a>
            <a href="#">Improve coverage</a>
            <a href="#">Underperforming</a>
          </div>
        </div>
      </span>
    </div>
    <div class="datas">
      <div class="img">
        <img src="../../../assets/empty.gif" alt="" class="emptyimg" />
        <p>Not enough data to show insights</p>
      </div>
    </div>
  </div>
</div>
