<div class="addintent_container">
  <div class="inner_container">
    <div class="heading">
      <div class="detailhead">
        <p class="tag orange">Improve coverage</p>
        <h4>
          <i class="fas fa-search"></i>&nbsp;&nbsp;Are you real estate dealer
          dealing in commercial plots...&nbsp;<i
            class="fas fa-plus-circle icon"
          ></i>
        </h4>
      </div>
      <div class="button">
        <button class="close" (click)="closeall()">Close</button>
      </div>
    </div>
    <div class="details">
      <p>Closed matched intents (2)</p>
      <ul class="list">
        <li class="singles">
          <div>
            <h4>Real Estate</h4>
            <p>Are you real estate dealer dealing in commercial pilots...</p>
            <p>Are you real estate dealer dealing in commercial pilots...</p>
            <a href="#">Show more</a>
          </div>
          <div>
            <button class="btn add-btn">Add to this intent</button>
          </div>
        </li>
        <hr />
        <li class="singles">
          <div>
            <h4>Work Profile</h4>
            <p>Are you real estate dealer dealing in commercial pilots...</p>

            <a href="#">Show more</a>
          </div>
          <div>
            <button class="btn">Added</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
