<div class="analytics_option_container">
  <h3>Intents(10)</h3>
  <p>
    Browse through existing intents that were created eariler and imporve
    coverage by adding more variations
  </p>
  <div class="analytics_option_container_inner">
    <div class="search">
      <button class="btn icon">
        <i class="fa fa-search"></i
        ><input
          type="text"
          name=""
          id=""
          placeholder="search intent or utterance"
        />
      </button>
      <button class="btn">+ Add intent</button>
    </div>
  </div>
  <div class="formAnalysis">
    <div class="bg-clr">
      <h5>Intent</h5>
    </div>
    <div class="main_div">
      <div class="one">
        <h5>Greetings</h5>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <h5>Hello there</h5>
      <h5>How are you doing?</h5>
      <h5>Nice to see you</h5>
      <h5>Is there any way we can help you?</h5>
      <button class="add">+ Add another variation</button>
      <div class="one mb-1">
        <h5>Bye</h5>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="one mb-1">
        <h5>Office hours</h5>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
      <div class="one">
        <h5>Location</h5>
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </div>
    </div>
  </div>
</div>
