<div class="options_container">
  <!-- Bot Details -->
  <div class="bot_detail active">
    <div class="text">
      <h3>Train yout bot</h3>
      <p>
        Improve performance by providing user utternaces or frequently asked
        questions
      </p>
    </div>
  </div>
  <!-- Actual Options -->
  <!-- Option1 -->
  <div class="option">
    <h3>Train yout bot</h3>
    <p>
      Improve performance by providing user utternaces or frequently asked
      questions
    </p>
  </div>
  <!-- Option2 -->
  <div class="option">
    <h3>Train yout bot</h3>
    <p>
      Improve performance by providing user utternaces or frequently asked
      questions
    </p>
  </div>
  <!-- Option3 -->
  <div class="option">
    <h3>Train yout bot</h3>
    <p>
      Improve performance by providing user utternaces or frequently asked
      questions
    </p>
  </div>
</div>
