.options_container {
  background-color: #f2f2f2;
  height: 90vh;
  overflow: auto;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}
.bot_detail {
  /* display: flex;
  flex-direction: row; */
  margin-bottom: 2rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
/* .color {
  width: 10px;
  background-color: var(--color-baseclr);
} */
.text {
  width: 100%;
  padding: 1rem;
}
h3 {
  font-weight: 700;
}
.option {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid rgb(199, 199, 199);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.option > p {
  padding: 0.2rem 0;
}
.active,
.option:hover,
.bot_detail:hover {
  background-color: white;
  border: none;
  border-left: 10px solid var(--color-baseclr);
}
