<div class="options_container">
  <!-- Bot Details -->
  <div class="bot_detail" id="bot_detail" (click)="botclick()" routerLink="/">
    <div class="text">
      <h3>Train yout bot</h3>
      <p>
        Improve performance by providing user utternaces or frequently asked
        questions
      </p>
    </div>
  </div>
  <!-- Actual Options -->
  <!-- Option1 -->
  <div class="option" routerLink="/intent" (click)="optionSelect(1)">
    <h3>Intents</h3>
    <p>View all answers you've created to imrove the bot performance</p>
  </div>
  <!-- Option2 -->
  <div class="option" routerLink="/catch" (click)="optionSelect(2)">
    <h3>Catch all</h3>
    <p>Setup flows to handle unanswered or not helpful responses</p>
  </div>
  <!-- Option3 -->
  <div class="option" routerLink="/analysis" (click)="optionSelect(3)">
    <h3>Summary</h3>
    <p>Learn how your bot is performing and how you can make it better</p>
  </div>
</div>
