<div class="catch_option_container">
  <h3>Catch All</h3>
  <p>
    when Instinct AI fails to understand user utterance, you can choose one of
    the option to manage the bot failure withou degrading user expperience
  </p>
  <div class="dropdown">
    <button class="dropbtn extrawidth">
      Human handoff &nbsp; <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Human handoff</a>
      <a href="#">Add a reply</a>
    </div>
  </div>
  <div class="reply">
    <h3>Add reply</h3>
    <textarea
      name="reply"
      id="reply"
      cols="30"
      rows="3"
      placeholder="Bot says"
    ></textarea>
    <button class="add">+ Add random message</button>
  </div>
  <h3>Human Handoff</h3>
  <div class="dropdown">
    <button class="dropbtn extrawidth fade">
      Assign agent<i class="fa fa-caret-down"></i>
    </button>
  </div>
</div>
