* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  line-height: 1.4;
  font-weight: normal;
}

img {
  max-width: 100%;
  vertical-align: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
:root {
  --color-baseclr: #00826b;
  --color-bg: #ffffff;
  --color-secondary-text: #6e6e6e;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
body {
  background-color: var(--color-bg);
  width: 100%;
}

p {
  color: var(--color-secondary-text);
  font-size: 0.8rem;
}
button {
  cursor: pointer;
}

/* !! COmmon CSS for all component */
.btn {
  margin: 10px 0;
  background-color: var(--color-baseclr);
  color: white;
  border: none;
  border: 2px solid var(--color-baseclr);
  padding: 0.3rem 0.65rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.btn:hover {
  background-color: white;
  color: var(--color-baseclr);
}

.select-btn {
  display: inline-block;
  background-color: white;
  padding: 0.2rem 0.6rem;
  border: 2px solid rgb(164, 164, 164);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
