<div class="nav_container">
  <div class="link_container top">
    <ul class="navlinks">
      <li><i class="fas fa-th-large icons" aria-hidden="true"></i></li>
      <hr />
      <li><i class="fa fa-comment-o icons my-1" aria-hidden="true"></i></li>
      <li><i class="fa fa-user-circle-o icons" aria-hidden="true"></i></li>
      <li><i class="fas fa-th-large icons" aria-hidden="true"></i></li>
      <li><i class="fa fa-spinner icons" aria-hidden="true"></i></li>
      <li><i class="fa fa-bullhorn icons" aria-hidden="true"></i></li>
      <li>
        <i class="fa fa-line-chart icons" aria-hidden="true"></i>
      </li>
      <li><i class="fa fa-qrcode icons" aria-hidden="true"></i></li>
      <li><i class="fa fa-signal icons" aria-hidden="true"></i></li>
      <li>
        <i class="icons"
          ><img src="../../../assets/illustrator_white.png" alt=""
        /></i>
      </li>
    </ul>
  </div>
  <div class="link_container bottom">
    <ul class="navlinks">
      <li><i class="fa fa-cog" aria-hidden="true"></i></li>
      <li><i class="fa fa-user-o big-icons" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
