<div class="nav_container">
  <div class="link_container">
    <ul class="navlinks">
      <li><i class="fas fa-th-large icons" aria-hidden="true"></i></li>
      <hr />
      <li><i class="fa fa-comment-o icons" aria-hidden="true"></i></li>
      <li><i class="fa fa-user icons" aria-hidden="true"></i></li>
      <li><i class="fas fa-th-large icons" aria-hidden="true"></i></li>
      <li><i class="fa fa-spinner icons" aria-hidden="true"></i></li>
      <li><i class="fa fa-bullhorn icons" aria-hidden="true"></i></li>
    </ul>
  </div>
</div>
